<div class="container">
  <%= render "search_bar" %>
  <div class='container_btn_create_profile'>
    <%if !current_user.babysitter.present?  %>
      <strong><%= link_to "Create a babysitter profile", new_babysitter_path, class:"btn btn_create_profile" %></strong>
    <%end%>
  </div>
      <div class="babysitters_index_cards">
      <% @babysitters.each do |babysitter| %>
      <div class="card">

          <% if babysitter.image.key != nil %>
          <div class="bg-image hover-overlay ripple img_container" data-mdb-ripple-color="light" style="background-image: url('<%= cl_image_path babysitter.image.key %>');">
            </div>
          <% else %>
            <img class="img_card" src="https://mybluerobot.com/wp-content/plugins/svg-avatars-generator/data/custom-img/girl.png", class="card-img-top, alt="<%=  babysitter.first_name %>">
          <% end %>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>

        <div class="card-body">
          <h5 class="card-title font-weight-bold"><a><%= babysitter.first_name %> <%= babysitter.last_name %></a></h5>
          <ul class="list-unstyled list-inline mb-0">
            <% @count_reviews = Review.where(babysitter_id: babysitter.id).length %>
            <% if @count_reviews != 0 %>
            <%  @average_review = Review.where(babysitter_id: babysitter.id).map do |review| %>
            <%  review.rating %>
            <%  end.reduce {|a, b| a+b } / @count_reviews %>
            <% else %>
            <% @average_review = 0 %>
            <% end %>
            <% @average_review.times do  %>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"> </i>
              </li>
            <% end %>
            <% (5-@average_review).times do  %>
              <li class="list-inline-item me-0">
                <i class="fa-regular fa-star fa-xs"> </i>
              </li>
            <% end %>
            <li class="list-inline-item">
              <p class="text-muted"><%= @average_review %> (<%= @count_reviews %>)</p>
            </li>
          </ul>
          <p class="mb-2"><i><%= Geocoder.search(babysitter.user.address)[0].data["address"]["city"]  %>, <%= Geocoder.search(babysitter.user.address)[0].data["address"]["country"]  %></i></p>

          <p class="card-text">
            <%= babysitter.bio[0..100] %> ... (<%= link_to "Read more", babysitter_path(babysitter) %>)
          </p>
          <hr class="my-4" />
          <ul class="list-unstyled list-inline d-flex justify-content-between">
            <li class="list-inline-item me-0">
              <div class="chip me-0"><p><i class="fa-brands fa-pagelines"></i>&nbsp<%= babysitter.age%></p></div>
            </li>
            <li class="list-inline-item me-0">
              <div class="chip me-0"><p><i class="fa-solid fa-user"></i>&nbsp<%= babysitter.gender%></p></div>
            </li>
            <li class="list-inline-item me-0">
              <div class="chip me-0"><p><i class="fa-solid fa-sack-dollar"></i>&nbsp<%= babysitter.cost_per_hour%></p></div>
            </li>
          </ul>
          <div class="details_btn_container">
            <%= link_to 'Details', babysitter_path(babysitter), class: "btn btn_details", style: "" %>
          </div>
        </div>
      </div>
    <% end %>
      </div>
</div>
