<% content_for :meta_title, "#{@babysitter.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, cl_image_path(@babysitter.image.key) %>

<div class="container">
  <div class="body-container m-20">
    <div class="maintxt m-2" style="background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 12%)), url(https://res.cloudinary.com/dgtys3cw2/image/upload/v1680712038/jiytcvpbi3agsombbixi.jpg)">
      <div class="text-block">
        <h2>Need a Nanny or babysitter ? </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-12 mb-4 ">
        <div class="mb-10 mt-20", id= "show-card">


          <div class="row">
          <%= button_to "Save <i class='fa-regular fa-bookmark'></i> ".html_safe, upvote_babysitter_path(@babysitter , type: "bookmark") ,class:"save" , method: :put %>

          <div class="col-6 col-sm-12 col-lg-6 col-12 col-md-12">
              <div class="item-photo">
                <% if @babysitter.image.key != nil %>
                    <img class="card-img-show " src="<%= cl_image_path @babysitter.image.key %>" alt="<%= @babysitter.first_name %>" style="width: 400px; height: auto;">
                <% else %>
                    <img class="card-img-show" src="https://mybluerobot.com/wp-content/plugins/svg-avatars-generator/data/custom-img/girl.png", class="card-img-show", alt="<%=  @babysitter.first_name %>">
                <% end %>
              </div>
          </div>
            <div class="col-6 col-sm-6 col-lg-6 col-md-6">
              <div class="card-body">

                <h2 class="card-title m-2"><%= @babysitter.first_name%> <%= @babysitter.last_name%></h2>
                <p class="card-text m-2"><i class="fa-brands fa-pagelines"></i> Age : <%= @babysitter.age%> Years Old</p>
                <p class="card-text m-2"><i class="fa-solid fa-user"></i>  <%= @babysitter.gender%></p>
                <p class="card-text m-2"><i class="fa-solid fa-house"></i> Address :<%= @babysitter.address%></p>
                <p class="card-text m-2"><i class="fa-solid fa-sack-dollar"></i> Cost per hour :<%= @babysitter.cost_per_hour%></p>
                <p class="card-text m-2"><i class="fa-regular fa-calendar-plus"></i> Years of experience :<%= @babysitter.years_of_experience%></p>
                <div class="m-2 mt-3">
                <div class= "baby-rating">
                    <h2 class= >Rating  </h2>
                    <div class="d-flex align-items-center ">
                      <% @avarage_review.times do  %>
                          <i  class="fa-solid fa-star "></i>
                      <% end %>
                    </div>
                </div>
                <div class="form-rating">
                  <%= simple_form_for @review do |f| %>

                          <%= f.input :rating, collection: (1..5).to_a, label: "Add your rating", input_html: {data: {controller: "star-rating"}} %>
                          <%= hidden_field_tag 'babysitter', @babysitter.id %>
                          <%= f.submit "Send your review" %>
                  <% end %>
                </div>
                  <% if @babysitter.user == current_user %>
                    <%= link_to "Edit information", edit_babysitter_path, class: "btn-send-msg m-2" %>
                    <%= link_to "Delete your application", babysitter_path(@babysitter), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to stop sharing your application ?" }, class: 'btn btn-danger  m-2rounded-pill px-4 fw-bold' %>
                <% end %>
                </div>
                <div class="btn-msg">

                  <%= link_to new_chatroom_path(@babysitter), data: { turbo_method: "post" }, class: "btn-send-msg m-1" do %>
                    send Message
                    <span><i class="fa-regular fa-comment"></i></span>
                  <% end %>

                </div>
              </div>
            </div>


          </div>
          <div>
            <%= link_to  babysitters_path, class:"back" do %>
              <i class="fa-solid fa-angle-left"></i>
              Back to babysitters Page
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
