<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

  <div class="container my-5 text-center">
    <h2 >Bookmarked Events</h2>
    <ul>
      <% current_user.bookmarked_events.each do |event| %>
      <% if  event.votes_for[0].vote_flag %>
        <div class="card-chat">
          <%= cl_image_tag (event.image.key), class: "avatar-img"%>
          <%= link_to event.name, event %>
          <%= link_to "Unsave", downvote_event_path(event , type: "bookmark") ,data: {turbo_method: :put}, class: "unsave m-3" %></li>
        </div>
      <% else  %>
        <%= nil %>
      <% end %>
    <% end %>
    </ul>
  </div>

  <div class="container my-5 text-center">
    <h2 >Bookmarked Babysitters</h2>
    <ul>
    <% current_user.bookmarked_babysitters.each do |babysitter| %>
    <% if  babysitter.votes_for[0].vote_flag %>
      <div class="card-chat">
        <%= cl_image_tag (babysitter.image.key), class: "avatar-img"%>
        <%= link_to babysitter.first_name, babysitter %>
        <%= link_to "Unsave", downvote_babysitter_path(babysitter , type: "bookmark") ,data: {turbo_method: :put}, class: "unsave m-3" %></li>
      </div>
      <% else  %>
        <%= nil %>
      <% end %>
    <% end %>
    </ul>
  </div>

    <div class="container my-5 text-center">
    <h2 >Reserved Items</h2>
    <ul>
    <% current_user.bookmarked_items.each do |item| %>
    <% if  item.votes_for[0].vote_flag %>
      <div class="card-chat">
        <%= cl_image_tag (item.image.key), class: "avatar-img"%>
        <%= link_to item.name, item_path(item) %>
        <%= link_to "Unsave", downvote_item_path(item , type: "bookmark") ,data: {turbo_method: :put}, class: "unsave m-3" %></li>
      </div>
      <% else  %>
        <%= nil %>
      <% end %>
    <% end %>
    </ul>
  </div>
