<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"%>
  <% if (@current_user == @chatroom.user2) %>
    <% if @chatroom.user1.image == nil %>
      <div class="text-center avatar-container d-flex justify-content-center align-items-center">
        <%= image_tag "/assets/default_avatar.png", class: "avatar-img" %>
      </div>
    <% else %>
      <div class="avatar_container">
        <%= (cl_image_tag @chatroom.user1.image.key, class: "rounded-circle", width: 100, height: 100, crop: :fill, alt: "Profile Picture") %>
      </div>
    <% end %>
  <% else %>
    <% if @chatroom.user2.image == nil %>
      <div class="text-center avatar-container d-flex justify-content-center align-items-center">
        <%= image_tag "/assets/default_avatar.png", class: "avatar-img" %>
      </div>
    <% else %>
      <div class="avatar_container">
        <%= (cl_image_tag @chatroom.user2.image.key, class: "rounded-circle", width: 100, height: 100, crop: :fill, alt: "Profile Picture") %>
      </div>
    <% end %>
  <% end %>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class:"d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message to @#{@current_user == @chatroom.user2 ? @chatroom.user1.first_name : @chatroom.user2.first_name }",
      wrapper_html: { class: "flex-grow-1" }
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3 chat_btn" %>
  <% end %>
</div>
