<div class="container">
  <div class="body-container m-20">
    <div class="maintxt m-2" style="background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 12%)), url(https://res.cloudinary.com/dgtys3cw2/image/upload/v1680712038/jiytcvpbi3agsombbixi.jpg)">
      <div class="text-block">
        <h2>discover all activities we have ? </h2>
      </div>
    </div>

    <div class="row m-25" id="container">
      <div class="col-sm-12 col-md-12 col-lg-6 mb-4 mx-auto">
        <div class="card-show mb-10 mt-20", id= "show-card">
          <div classs="item">
            <% if @event.image.key != nil %>
                <img class="card-img-top " src="<%= cl_image_path @event.image.key %>" alt="<%= @event.name %>" style="width: 200px; height: auto;">
            <% else %>
                <img class="card-img-top" src="https://mybluerobot.com/wp-content/plugins/svg-avatars-generator/data/custom-img/girl.png", class="card-img-top, alt="<%=  @event.name %>">
            <% end %>
          </div>

          <div class="card-body">
            <h2 class="card_title"><%= @event.name%> </h2>
            <h2 class="card_text"><%= @event.description%> </h2>
            <h2 class="card_text"><i class="fa-solid fa-house"></i><%= @event.address%> </h2>
            <h2 class="card_text"><%= @event.category%> </h2>
            <h2 class="card_text"><%= @event.date%> </h2>
            <h5 class="card-meta mb-2"><i class="fa-solid fa-sack-dollar"></i> Cost:<%= @event.cost%></h5>
            <div class="mb-2">
              <% if @event.user == current_user %>
                <%= link_to "Edit information", edit_event_path, class: "btn-send-msg m-2" %>
                <%= link_to "Delete your event", event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to stop sharing your events ?" }, class: 'btn btn-danger  m-2rounded-pill px-4 fw-bold' %>
            <% end %>
            </div>
            <div class="mt-2">
              <%= link_to  events_path, class: "btn-send-msg m-2" do %>
                <i class="fa-solid fa-angle-left"></i>
                Back to events Page
              <% end %>
            </div>
            <%= button_to "Bookmark", upvote_event_path(@event , type: "bookmark") , method: :put %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
