
<div class="container">
  <div class="body-container m-20">
    <div class="maintxt m-2" style="background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 12%)), url(https://res.cloudinary.com/dgtys3cw2/image/upload/v1680712038/jiytcvpbi3agsombbixi.jpg)">
      <div class="text-block">
        <h2>Find what you need for your child here  </h2>
      </div>
    </div>

  <div class ="search">
    <%= form_with url: items_path, method: :get, class: "d-flex my-3 mx-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find things you need for your child" %>
    <% end %>

  <h1 class="text-center item-heading-index pt-3">Available Items</h1>

  <% if @items.empty? %>
    <p>Sorry, there are no available items at the moment.</p>
  <% else %>
    <div class="container mx-auto mt-4">
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-lg-3">
            <div class="card item-card-index" style="width: 18rem;">
              <%= link_to item_path(item) do %>

                <div class="image-container">
                  <% if item.image.key != nil %>
                    <img class="card-img-top" src="<%= cl_image_path item.image.key %>" alt="<%= item.name %>">
                  <% else %>
                    <img class="card-img-top" src="https://st.depositphotos.com/4320021/51441/v/450/depositphotos_514411954-stock-illustration-photo-coming-soon-picture-frame.jpg", class="card-img-top, alt="<%= item.name %>">
                  <% end %>
                </div>

              <% end %>

              <div class="card-body">
                <h5 class="card-title"><strong><%= item.name %></strong></h5>
                  <% if item.available %>
                    <h6 class="card-subtitle mb-2 text-muted">Available</h6>
                  <% else %>
                    <h6 class="card-subtitle mb-2 text-muted">Reserved</h6>
                  <% end %>

                <p class="card-text"><strong>Description: </strong><%= item.description %></p>
                <p class="card-text"><strong>Age: </strong> for babys <%= item.age %></p>
                <p class="card-text"><strong>Address: </strong><%= item.user.address %></p>

                <a href="#" class="btn btn-item-index" style="margin-right: 20px"><i class="fas fa-link"></i><strong> Reserve</strong></a>
                <%= link_to item_path(item), class: "btn btn-item-index" do %>
                  <i class="fab fa-github"></i><strong> Details</strong>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="text-center mb-5">
    <strong><%= link_to "Post your item", new_item_path, class:"custom-btn-item-index" %></strong>
  </div>

</div>
