<h1>Search Results</h1>

<% if @items.present? %>
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= link_to item.name, item %>
        <p><%= item.description %></p>
        <p><strong>Age:</strong> <%= item.age %></p>
        <p><strong>House:</strong> <%= item.house %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No items found.</p>
<% end %>

<div class="mb-3 mt-3">
  <%= link_to "Back to Items", items_path, class: 'btn btn-secondary rounded-pill px-4 fw-bold' %>
</div>
