<div class="container mt-5">
<% content_for :meta_title, "#{@item.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @item.description %>
<% content_for :meta_image, cl_image_path(@item.image.key) %>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card item-card-show mb-4">

        <div class="row">

          <div class="col-md-6">
            <div class="image-container">
              <% if @item.image.key != nil %>
                <%= cl_image_tag @item.image.key, class: "card-img-right" %>
              <% else %>
                <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" class="card-img-right" alt="<%= @item.name %>">
              <% end %>
            </div>
          </div>

          <div class="col-md-6">

            <div class="card-body custom-card-body">

              <h2 class="card-title mb-4"><strong><%= @item.name %></strong></h2>

              <% if @item.available %>
                <h4 class="card-subtitle mb-4 text-muted">Available</h4>
              <% else %>
                <h4 class="card-subtitle mb-4 text-muted">Reserved</h4>
              <% end %>

              <p class="card-text"><strong>Description: </strong><%= @item.description %></p>
              <p class="card-text"><strong>Age: </strong> for <%= @item.age %> <%= @item.age == '1' ? "Year" : "Years" %></p>

              <p class="card-text"><strong>Address: </strong><%= @item.user.address %></p>

            </div>

            <a href="#" class="btn btn-item-show"><strong>Reserve Item</strong></a>
            <%= link_to edit_item_path(@item), class: "btn btn-item-show", style: "margin-left: 20px" do %>
              <strong>Edit Item</strong>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-5">
  <strong><%= link_to "Back to Items", items_path, class: "custom-btn-item-show" %></strong>
</div>
